[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
	ignore = dirty
	branch = master
[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/RobLoach/physfs.git
	ignore = dirty
	branch = libretro-support
